.menu {
	margin: 0px 15px;
}

.plats {
	display: flex;
	height: 80px;
	align-items: center;
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px #00000050;
	border-radius: 20px;
	@include apparition-bas;
	padding-left: 10px;
	overflow: hidden;

	@media screen and (min-width: 992px) {
		&:hover .text-plat .content {
			width: 100%;
			transition: all 1.5s .2s;
		}
	}

}

.text-plat {
	display: flex;
	flex-direction: column;
	text-align: left;
	min-width: 90vw;

	h3 {
		margin-bottom: 0;
		overflow: hidden;
	}

	p {
		margin-top: 0;
	}

	.right.bold {
		overflow: visible;
	}

	.content {
		display: flex;
		justify-content: space-between;
		max-width: 90%;

		@media screen and (min-width:992px) {
			width: calc(100% + 40px);
		}
	}
}

.check-hover {
	background: $background;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	margin-left: auto;
	width: 0px;
	height: 80px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	text-overflow: clip;
	cursor: pointer;

	&:hover+.text-plat {
		width: calc(100% - 50px);
	}

	.fas.fa-circle-check {
		font-size: 27px;
		align-items: center;
		display: flex;
		transform:rotate(-.75turn);
		color:$background;
	}
}

.command-button {
	display: flex;
	justify-content: center;
	margin: 15px;
}

@media screen and (min-width: 768px) {
	.content-menu {
		display: grid;
		grid-template-columns: 45vw 45vw;
		column-gap: 5vw;
	}

	.text-plat {
		min-width: 48vw;
	}

	.plats:hover .text-plat {
		min-width: 38.5vw;
		transition: all 1s 0s;
	}
}

@media screen and (min-width: 992px) {
	.menu .content-menu {
		grid-template-columns: calc(100% / 2 - 1vw) calc(100% / 2 - 2vw);
		column-gap: 1vw;
	}

	.text-plat {
		min-width: 45vw;
	}
}