footer {
    background: $text;
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 15px;

    img {
	height: 25px;
	margin-bottom: 10px;
	max-width: 150px;
    }

    a {
		color: $background;
		text-decoration: none;
		font-size: 15px;
	
		i::before {
			margin-right: 10px;
			display: inline-block;
			width: 16px;
			overflow: clip;
		}
		
		.fas.fa-utensils::before {
			font-size: 18px;
		}
    }
}

@media screen and (min-width: 992px) {
	footer {
		align-items: center;
	}
}