header {
    box-shadow: 0px 0px 10px rgba($text, .1);
    width: 100vw;
    position: fixed;
    top: -1px;
    background: $background;
    height: 50px;
    z-index: 2;

    nav {
    	display: flex;
    	align-items: center;
	justify-content: center
    }

	i {
	    color: $text;
	}
    
	img {
	    height: 30px;
	    position: absolute;
	    margin-top: 50px;
	}
}