#rotate {
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    animation: rotate 1s 2 both;

    i {
        @keyframes rotate-inversed {
            from {
                transform: rotate(360deg);
            }

            to {
                transform: rotate(0deg);
            }
        }

        animation: rotate-inversed 1s 2 both;
    }
}

#loader {
    @keyframes disparition {
        from {
            translate: 0vw;
        }

        to {
            translate: -200vw;
        }
    }

    animation: disparition 1s 2s 1 both;
}

@mixin heart {
    @keyframes empty-full {
        from {
            background-size: 0;
	    color: $text;
        }

        to {
            background-size: 15px;
	    color: rgba($text, 0);
        }
    }

    animation: empty-full 1s 0s 1 both;
}

@mixin rotate-check {
	@keyframes rotate-check-hover {
		from {
			rotate: -360deg;
		}
		to {
			rotate: 0deg;
		}
	}
	
	animation: rotate-check-hover 0.3s 1s 2 both;
}

@mixin apparition-bas {
    @keyframes apparition-bas-haut {
        from {
            opacity: 0;
            margin-top: 100%;
        }

        to {
            opacity: 1;
            margin-top: 0%;
        }
    }
	
	@while $apparition < length($plats) {
	    &.plat#{$i} {
		animation: apparition-bas-haut 1.5s $apparition 1 both;
	    }
	$apparition: $apparition + .5;
	$i: $i + 1;
	}
}

.plats:hover {
	.check-hover{
		@keyframes apparition-droite-gauche {
			from {
				opacity: 0;
				translate: 100vw;
			}

			to {
				opacity: 1;
				translate: 0;
			}
		}

		animation: apparition-droite-gauche 1.5s 0s 1 both;
		
		i {
			transform-origin: 50% 50%;
			@include rotate-check;
		}
	}
	
	.text-plat {
		min-width: calc(80vw - 50px);
		transition: all 1s 1s;
	}
}