#rotate {
    @keyframes rotate {
        from {
            transform: rotate(0deg);

        }

        to {
            transform: rotate(360deg);
        }
    }

    animation: rotate 1s 2 both;

    i {
        @keyframes rotate-inversed {
            from {
                transform: rotate(360deg);
            }

            to {
                transform: rotate(0deg);
            }
        }

        animation: rotate-inversed 1s 2 both;
    }
}

#loader {
    @keyframes disparition {
        from {
            translate: 0vw;
        }

        to {
            translate: -110vw;
        }
    }
    animation: disparition 1s 2s 1 both ;
}