#rotate {
    @keyframes rotate {
        from {
            transform: rotate(0deg);

        }

        to {
            transform: rotate(360deg);
        }
    }

    animation: rotate 1s 2 both;

    i {
        @keyframes rotate-inversed {
            from {
                transform: rotate(360deg);
            }

            to {
                transform: rotate(0deg);
            }
        }

        animation: rotate-inversed 1s 2 both;
    }
}

#loader {
    @keyframes disparition {
        from {
            translate: 0vw;
        }

        to {
            translate: -110vw;
        }
    }

    animation: disparition 1s 2s 1 both;
}

@mixin heart {
    @keyframes empty-full {
        from {
            background-size: 0;
        }

        to {
            background-size: 15px;
        }
    }
    animation: empty-full 1s 0s 1 both;
}

@mixin apparition-bas {
    @keyframes apparition-bas-haut {
        from {
            opacity: 0;
            margin-top: 100%;
        }

        to {
            opacity: 1;
            margin-top: 0%;
        }
    }
    animation: apparition-bas-haut 0.2 0s 1 both;
}

.check-hover:hover {
    @keyframes apparition-droite-gauche {
        from {
            opacity: 0;
            translate: 100%;
        }

        to {
            opacity: 1;
            translate: 0;
        }
    }
    animation: apparition-droite-gauche 2s 0s 1 both;
}